.userDisplay {
    text-align: left;
    margin: auto;
    border: cornsilk;
    height: 80%;
    width:60%;
}

.userDisplay li {list-style: none;
    background-color: white;
    text-align: center;
    margin:0.5rem ;
    font: inherit;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 9px;
    width: 90%;
}
